body {
  max-width: 90%;
  margin: 0 auto;
}

fieldset {
  border: solid 2px black;
}

form {
  margin: 30px auto;
  max-width: 300px;
}

fieldset {
  padding: 20px;
}

input {
  border: solid black 2px;
  display: block;
  height: 40px;
  width: 300px;
}

.username__container, .password__container {
  margin: 30px auto;
}
