label {
  display: block; }

h1 {
  color: blue; }

input {
  border: solid black 2px;
  height: 40px;
  width: 300px; }

html {
  box-sizing: border-box; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }
