header {
  margin-top: 20px; }

nav {
  margin-top: 10px; }

@media (max-width: 540px) {
  header h1 {
    font-size: 1.3rem; }
  header a {
    font-size: 0.8rem; } }

body {
  max-width: 90%;
  margin: 0 auto; }

fieldset {
  border: solid 2px black;
  padding: 20px; }

legend {
  margin: 0 auto; }

form {
  margin: 30px auto;
  max-width: 300px; }

input {
  border: solid black 2px;
  display: block;
  height: 40px;
  width: 300px; }

button {
  background-color: #019875;
  color: white;
  margin-top: 10px;
  padding: 10px; }

.main-section__crypto-currencies-container {
  margin-top: 20px; }

.main-section__crypto-currencies-container span {
  display: block;
  max-width: 800px;
  margin: 5px 0; }

.main-section__crypto-currencies-container div {
  margin: 20px auto; }

.username__container {
  margin: 30px auto; }

footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

@media (max-width: 540px) {
  footer {
    flex-direction: column; }
  footer section {
    margin-bottom: 10px;
    text-align: center; }
  footer section h2, footer section span {
    font-size: 0.9rem; } }

body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, footer span {
  font-family: 'Noto Serif', serif;
  font-size: 1.7rem; }

footer h2, footer span {
  font-size: 1.2rem; }

a {
  text-decoration-line: none;
  padding-right: 5px; }

h2 {
  font-size: 1.4rem; }

header a {
  color: black; }

label {
  display: block;
  padding-bottom: 5px; }

legend {
  font-size: 1.2rem; }

html {
  box-sizing: border-box; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body, html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100%; }

.wrapper {
  flex: 1 0 auto; }

.message-fail {
  background: red;
  color: white;
  display: block;
  padding: 10px; }

.input-section__display-message-container {
  background: white; }
